<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mudafacil"
        tools:targetApi="31" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyiYidbmdA3G4E2cu-q1kZGd9dxZG0HGs"/>

        <activity
            android:name=".Recuperacao_de_senha_3"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Recuperacao_de_senha_2"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Recuperacao_de_senha_1"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cadastro_Cliente"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pagamentos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Opcao_Veiculos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Servico"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditarPerfil"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mapa"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mapa_trajeto"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaPrincipal"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
